<!--<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
           
    </div>
</nav>--> 
<div style="text-align:right">
        <a  class='alert alert-primary' routerLink="/createpost">createpost</a>
        <a  class='alert alert-primary' routerLink="/profile">Profile</a>
        <a  class='alert alert-primary' routerLink="/logout">logout</a>     
</div>
<div class="jumbotron">
        <div class="container"> 
                <div ng-controller="getPost">
                        <table class="table table-bordered">
                          <thead>
                          <tr>
                              <th>PostId</th>
                              <th>Title</th>
                              <th></th>
                          </tr>
                          </thead>
                          <tbody>
                        <tr *ngFor="let item of post">
                                <td id='get'>{{item.postId}}</td>
                                <!--<td>{{item.postId}}</td>-->
                                <td><a href="#" (click)="viewPost(item)">{{item.title}}</a></td>
                                <!--<td><input type="button" value="show" (click)="viewPost(item)"/></td>-->
                                <!--<td><button class="btn btn-primary" ng-click="edit(item)">Edit</button></td>-->
                        </tr>
                        </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
