<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
           <!--<a class="alert alert-primary" routerLink="/home">Home</a>
            <a class="alert alert-primary" routerLink="/profile">Profile</a>
            <a class="alert alert-primary" routerLink="/register">Register</a>
            <a class="alert alert-primary" routerLink="/login">Login</a>
            <a class="alert alert-primary" routerLink="/logout">Logout</a> -->


    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
