
<legend>Register</legend>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error': invalidFirstName()}">
        <label for="firstName" class="control-label">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" id="firstName" name="firstNname" />
            <div *ngIf= "invalidFirstName()" class="text-danger">{{this.serviceErrors.firstName || 'Firstname is invalid'}}</div>
    </div>
   
    <div class="form-group" [ngClass]="{'has-error': invalidLastName()}">
        <label for="lastName" class="control-label">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" id="lastName" name="lastNname" />
        <p *ngIf= "invalidLastName()" class="text-danger">{{this.serviceErrors.lastName || 'Lastname is Invalid'}}</p>
    </div>
    <div class="form-group" [ngClass]="{'has-error': invalidUserName()}">
        <label for="username" class="control-label">Username</label>
        <input type="text" formControlName="username" class="form-control" id="username" name="username" />
        <p *ngIf= "invalidUserName()" class="text-danger">{{this.serviceErrors.userName || 'Username is invalid'}}</p>
    </div>
    <div class="form-group" [ngClass]="{'has-error': invalidPassword()}">
        <label for="password"  class="control-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" name="password" />
        <p *ngIf= "invalidPassword()" class="text-danger"> {{this.serviceErrors.password || 'Password is invalid'}} </p>
    </div>
    <div class="form-group has-error">
        <button type="submit" class="btn btn-primary">Register</button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
