<legend>Login</legend>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error': invalidUserName()}">
        <label for="username" class="control-label">Username</label>
        <input type="text" formControlName="username" class="form-control" id="username" name="username" />
        <p *ngIf= "invalidUserName()" class="text-danger">{{this.serviceErrors.username || 'Invalid UserName'}}</p>
    </div>
    <div class="form-group" [ngClass]="{'has-error': invalidPassword()}">
        <label for="password"  class="control-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" name="username"  />
        <p *ngIf="invalidPassword()" class="text-danger" >{{this.serviceErrors.password || 'Invalid Password'}}</p>
    </div>
    <div class="form-group has-error">
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="alert alert-primary" routerLink="/register">register</a>
    </div>
</form>